@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
@theme {
  --font-sans: "saira", sans-serif;
  
}
body {
  
  font-family: 'Saira', 'Segoe UI Emoji', 'Apple Color Emoji', 'Noto Color Emoji', sans-serif;
}