@import "tailwindcss";

@keyframes slideball {
  0%, 100% { 
    transform: scaleX(1);
    box-shadow: 0 0 8px #ff7d00, 0 0 16px #ff7d00;
  }
  50% { 
    transform: scaleX(2);
    box-shadow: 0 0 16px #ff7d00, 0 0 32px #ff7d00, 0 0 48px #ff7d00;
  }
}

